<div class="container" id="outfit_container">

<div class="row">
	<div class="col-md-7">
	<div id="outfit_canvas">
	</div>
	<br>
	<%= button_to "Create", closets_path, remote: true, id: "outfits_button" %>
</div>


	<div class="col-md-5 well" id="outfits_well">

		<%= render 'outfits' %>

	</div>
		
			<%= will_paginate @items, id: "page_links" %>
		
		<div id="dialog" title="Basic dialog">
		</div>
	</div>
</div>
