<% provide(:title, "Home") %>
<div class="welcome">

<div class="container-fluid">
	<%= render "layouts/main_navbar" %>
	<div class="row landing">
		<div class="col-md-12" id="index">
		<!-- Carousel -->

			<!-- Wrapper for slides -->
			
	
						
             <!-- Static Header -->
             				
										<div class="header-text  text-center">
                 
                     <h2>
                     	<span>Welcome to <strong>PAPERDOLLED</strong></span>
                     </h2>
                     <br>
                     <h3>
                     	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                     </h3>
                     <br>
                     <div class="">
                         <%= link_to "Enter", new_user_registration_path, class: "btn btn-theme btn-sm btn-min-block" %>
							</div>
                 </div>
							 </div><!-- /header-text -->
             </div>
			
			</div>
		</div>
	</div>

</div>