<% provide(:title, "Home") %>
<div class="welcome">

<div class="container-fluid">
	<!-- <%= render "layouts/main_navbar" %> -->
	<div class="row landing">
		<div class="col-md-12" id="index">

             				
					<div class="header-text  text-center">
                 
                     <h2>
                     	<span>Welcome to <strong>PAPERDOLLED</strong></span>
                     </h2>
                     <br>

                     <div class="">
                         <%= link_to "Enter", new_user_registration_path, class: "btn btn-theme btn-sm btn-min-block" %>
					</div>
                 </div>
				</div>
             </div>
			
			</div>
		</div>
	</div>

</div>