/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require bootstrap-datepicker3
 *= require bootstrap-editable.css
 *= require chosen
 */



/* Fonts */

.josefin {
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
}

.josefin-bold {
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
}

/* Global styling */

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
    font-family: 'Josefin Slab', serif !important;
    font-weight: 600 !important;
    background: {
    image: asset-url("background.png");
    size: auto;
    repeat: repeat;
    position: center top;
  }
}

p {
	margin: 0 0 5px !important;
}

.pd-color {
	color: #cabe97;
}

.paperdolled-button {
  background-color: #cabe97 !important; 
  border-color: transparent !important; 
  color: white !important;//#af9b58 !important;
}

.paperdolled-button-outline {
  background-color: transparent !important;
  border-color: #cabe97 !important;
  border-width: 2px !important;
  color: #cabe97 !important;//#af9b58 !important;
}

.paperdolled-warning-button-outline {
  background-color: transparent !important;
  border-color: #d9534f !important;
  border-width: 2px !important;
  color: #d9534f !important;
}


@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600,700);