// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
//    padding-top: 90px;
// }

.container-login {
  background: {
    image: asset-url("paper-dolls-holding-hands.jpg");
		size: 100% 100%;
  }
}

iframe {
	margin: 0 auto 0 auto;
}

.fb_iframe_widget iframe {
	position: relative !important;
	margin: 0 auto 0 auto;
	width: 100% !important;
}


.fb_iframe_widget span {
	text-align: center !important;
}