// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paperdolled-button {
  background-color: #cabe97 !important; 
  border-color: transparent !important; 
  color: white !important;//#af9b58 !important;
}

.paperdolled-button-outline {
  background-color: transparent !important;
  border-color: #cabe97 !important;
  border-width: 2px !important;
  color: #cabe97 !important;//#af9b58 !important;
}

.paperdolled-warning-button-outline {
  background-color: transparent !important;
  border-color: #d9534f !important;
  border-width: 2px !important;
  color: #d9534f !important;
}

li.active > .sign-in-button {
  background-color: #cabe97 !important; 
  border-color: transparent !important; 
  color: white !important;//#af9b58 !important;
}

li > .sign-in-button {
  background-color: transparent;
  border-color: #cabe97;
  border-width: 2px !important;
  border-style: solid;
  color: #cabe97 !important;
}

.login-panel::before{

  background-image: asset-url("background.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
}

.login-panel {
  position: relative;
}



#create_link {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

body {
  background: {
    image: asset-url("background.png");
    size: auto;
    repeat: repeat;
    position: center top;
  }
}

.registrations.new {
  background: {
    image: asset-url("background.png");
		size: auto;//cover;//100% 100%;
    position: center top;
    //attachment: fixed;
  }
  //overflow: hidden !important;
}

#main-jumbotron {
    background-color: transparent;
}

/*
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color:#da8e81;
  //color:yourLinkColor;
}

.nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
    color: #da8e81;
  }
*/

.main-nav-buttons {
    color: #978b64 !important;
    border-style: none !important;
    border-style: none !important;
    border-radius: 0px !important;
    border-width: 0px !important;
    background-color: transparent !important;
    text-align: left !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    &:hover {
        background-color: #978b64 !important;
        color: white !important;
    }
    &:focus {
      outline: none !important;
    }
    &:active {
      outline: none !important
    }
}


button.btn.btn-default.main-nav-buttons.active {
    background-color: #cabe97 !important;
    color: white !important;
}

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.login-panel::before {
  //overflow: auto;
  height: 100%;
  width: 100%;
  min-height: 100%;
}


.main-nav-group {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px !important;
    border-color: #978b64;
}
